body {
    }

p.chu {
    float:left;
    margin-left:50px;
     margin:200px; }

p.chu2{
    float:left;
    margin-left:10px;
 margin:200px;

}
p.chu3{
    float:left;
    margin-left:30px;
 margin:200px;

}
