body {
    }

p.chu {
    float:left;
    margin-left:50px;
  }
p.ab{
    float:left;
    margin-top:10px;
}

p.chu2{
    float:left;

}
p.chu3{
    float:left;
    margin-left:30px;


}
