body {
    }

p.chu {
    float:left;
    margin-left:50px;
     margin:10px;
}
p.chu2{
    float:left;
    margin-left:30px;
 margin:auto;
text-align:center;
}
p.chu3{
    float:left;
    margin-left:30px;
 margin:auto;

}
