body {
    }
#anh1{
    width:1041px;
    height:275px;
    float:initial;
    margin-left:10px;
 }
p.chu {
    float:left;
    margin-left:50px;

}
p.chu2{
    float:left;
    margin-left:30px;
 margin:auto;
    height: 298px;
}
p.chu3{
    float:left;
    margin-left:30px;
 margin:auto;

}
